canvas {
    width: 300px;
    height: 200px;
    border: 1px solid #333;
}
hr {
    width: 50%;
    margin: 40px auto;
}

.lien {
    text-decoration: none;
    color: #fff;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
}

.lien:hover {
    background-color: red;
    color: #fff;
}

.box {
    width: 250px;
    height: 250px;
    border: 1px solid #333;
}

.red {
    background: crimson;
}

.bordure {
    border: 5px solid #333;
}